:host {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

:host.drawing {
  pointer-events: all;
}

.shapes-svg {
  width: 100%;
  height: 100%;
}

.shape {
  pointer-events: none;
}

:host.drawing .shape {
  pointer-events: all;
}

.move-handle {
  cursor: move;
}

.resize-handle {
  cursor: se-resize;
}

.delete-button {
  cursor: pointer;
}
