<svg
  class="shapes-svg"
  width="100%"
  height="100%"
  tabindex="0"
  (click)="onSvgClick($event)"
  (keyup.enter)="onSvgClick($event)"
>
  <g [attr.transform]="mmpService.mapTransform()">
    <ng-container *ngFor="let shape of shapes">
      <g
        class="shape"
        [class.selected]="shape.id === selectedId"
        [attr.transform]="'translate(' + shape.x + ',' + shape.y + ')'"
        (mousedown)="selectShape($event, shape.id)"
      >
        <circle
          [attr.r]="shape.radius"
          [attr.stroke]="shape.color"
          stroke-width="2"
          fill="transparent"
        ></circle>
        <ng-container *ngIf="shape.id === selectedId">
          <circle
            class="move-handle"
            [attr.cx]="-shape.radius"
            [attr.cy]="-shape.radius"
            r="4"
            [attr.stroke]="shape.color"
            stroke-width="2"
            fill="#fff"
            (mousedown)="startMove($event, shape)"
          ></circle>
          <rect
            class="resize-handle"
            [attr.x]="shape.radius - 4"
            [attr.y]="shape.radius - 4"
            width="8"
            height="8"
            [attr.fill]="shape.color"
            (mousedown)="startResize($event, shape)"
          ></rect>
          <g
            class="delete-button"
            [attr.transform]="'translate(' + (shape.radius + 8) + ',' + (-shape.radius - 8) + ')'"
            (mousedown)="deleteShape($event, shape.id)"
          >
            <circle r="8" fill="#f44336"></circle>
            <text
              x="0"
              y="0"
              text-anchor="middle"
              dominant-baseline="middle"
              fill="#fff"
              font-size="12"
            >
              ×
            </text>
          </g>
        </ng-container>
      </g>
    </ng-container>
  </g>
</svg>
