<div class="teammapper-application">
  <teammapper-colors-panel
    [node]="node | async"
    [editDisabled]="editMode | async | inverseBool"></teammapper-colors-panel>
  <teammapper-client-colors-panel></teammapper-client-colors-panel>
  <teammapper-sliders-panel
    [node]="node | async"
    [editDisabled]="editMode | async | inverseBool"></teammapper-sliders-panel>
  <teammapper-floating-buttons
    [editDisabled]="
      editMode | async | inverseBool
    "></teammapper-floating-buttons>

  <teammapper-toolbar
    [node]="node | async"
    [editDisabled]="editMode | async | inverseBool"></teammapper-toolbar>

  <div class="map-wrapper">
    <teammapper-map></teammapper-map>
    <teammapper-links-layer
      [selectedNodeId]="selectedNodeId"
      [cursor]="cursor"
    ></teammapper-links-layer>
    <teammapper-shapes-layer></teammapper-shapes-layer>
  </div>
</div>
