div.teammapper-application {
  height: 100%;
  display: flex;
  flex-direction: column;

  .map-wrapper {
    position: relative;
    flex: 1;

    teammapper-map {
      position: relative;
      z-index: 1; // place nodes above links
      height: 100%;
    }

    teammapper-links-layer {
      z-index: 0; // links stay underneath nodes
    }
  }
}
