div.teammapper-application {
  height: 100%;
  display: flex;
  flex-direction: column;

  .map-wrapper {
    position: relative;
    flex: 1;
  }

  teammapper-map {
    height: 100%;
    position: relative; // stack above links layer
    z-index: 1; // ensure map overlays links layer
  }
}
