<svg class="links-svg">
  <ng-container *ngFor="let link of links">
    <g (mouseenter)="hovered = link.id" (mouseleave)="hovered = null">
      <line
        [attr.x1]="getPos(link.from).x"
        [attr.y1]="getPos(link.from).y"
        [attr.x2]="getPos(link.to).x"
        [attr.y2]="getPos(link.to).y"
        [ngClass]="{ hovered: hovered === link.id }"
        pointer-events="stroke"
      ></line>
      <text
        *ngIf="hovered === link.id"
        [attr.x]="(getPos(link.from).x + getPos(link.to).x) / 2"
        [attr.y]="(getPos(link.from).y + getPos(link.to).y) / 2"
        class="delete"
        (click)="delete(link.id)"
      >
        x
      </text>
    </g>
  </ng-container>

  <line
    *ngIf="linkingFrom && cursor"
    [attr.x1]="getPos(linkingFrom).x"
    [attr.y1]="getPos(linkingFrom).y"
    [attr.x2]="cursorPos.x"
    [attr.y2]="cursorPos.y"
    class="temp"
    pointer-events="none"
  ></line>
</svg>
