<svg class="links-svg" width="100%" height="100%">
  <!-- area where link paths are drawn -->
  <ng-container *ngFor="let link of links">
    <ng-container *ngIf="getEdgePos(link.fromNodeId, link.toNodeId) as e">
      <g (mouseenter)="hovered = link.id" (mouseleave)="hovered = null">
        <path
          [attr.d]="buildCurve(e.p1, e.p2)"
          [ngClass]="{ hovered: hovered === link.id }"
        ></path>
        <text
          *ngIf="hovered === link.id"
          [attr.x]="(e.p1.x + e.p2.x) / 2"
          [attr.y]="(e.p1.y + e.p2.y) / 2"
          class="delete"
          (click)="delete(link.id)"
        >
          x
        </text>
      </g>
    </ng-container>
  </ng-container>

  <ng-container *ngIf="selectedNodeId && cursor">
    <ng-container *ngIf="edgeFromNodeToPoint(selectedNodeId, cursorPos) as start">
      <path
        [attr.d]="buildCurve(start, cursorPos)"
        class="temp"
      ></path>
    </ng-container>
  </ng-container>
</svg>
